<div class="slideout">
    <div class="slideout-control" data-dojo-attach-point="slidecontrol" style="right: 0;">
        <button class="btn mx-button slideout-button" data-dojo-attach-point="slidebutton">
			<img class="slideout-img" data-dojo-attach-point="iconTag">
            <span data-dojo-attach-point="slidetext">More...</span>
		</button>
    </div>
    <div class="slideout-container" id="slideout-container-div" data-dojo-attach-point="slidecontainer" style="width: 0px;" >
		<div class="slideout-header" data-dojo-attach-point="slidecontentheader">
			<button class="btn mx-button slideout-header-button" data-dojo-attach-point="headerslidebutton"></button>
			<span class="slideout-header-text" data-dojo-attach-point="headerText"></span>
		</div>
		<div class="slideout-content" data-dojo-attach-point="slidecontent" style="display: none;"></div>
	</div>
</div>
