.slideout-control {
    position: fixed;
    top: 130px;
    -webkit-transform-origin: 100% 50%;
       -moz-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
         -o-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
}
.slideout-img{
    width: 20px;
    height: 20px;
}

.slideout-container {
    background: #fff;
    position: fixed;
    height: 100%;
    box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.2);
    right: 0;
	top: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.slideout-container{
	z-index: 10000;
    overflow-y: auto;
    overflow-x: hidden;
}

.slideout-header {
	background-color: #aaaaaa;
	display:none;
}
.slideout-header-text {
	font-size: 18px;
}
